*{
    font-family: 'Ubuntu', sans-serif;
    
}
.left{
    background-color: #012031;

color:white;
}
.row1{
    box-shadow: 0px 0px  10px gray;
    
}
.left{
    margin-left: -13px;
}
.img34{
    border-radius: 50%;
    border: 2px solid white;
}